@import url("variables.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  height: 100vh;
  justify-content: center;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

td {
  text-align: center;
  width: 5rem;
  padding: 1rem;

  border: 1px solid white;
}

thead {
  font-weight: 700;
}
